*{
	font-family: 'Mali', cursive;
	color: white;
	margin: 0;
	padding: 0;
}
#main_nav{
	background-color: ;
	display: flex;
	justify-content: center;
	box-shadow: 5px 5px 10px black;
	animation-duration: 10s;
	animation-name: curtain;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
#main_nav h2{
	margin: 20px;
}
@keyframes 
curtain{
	0%{
		width: 0;
		background-color: #3974FE;
	}

	100%{
		width: 100%;
		background-color: #3a4660
	}

}